.container {
    width:100%;
    height:100%;
}

.main {
    margin-top: 100px;
}

.searchBarWrap{ 
    display: flex;
    justify-content: center;
}


.searchBar{
    width: 500px;
    height: 25px;
}

.google-logo-wrap {
    display: flex;
    justify-content: center;
}

.google-logo {
    height: 110px;
    width: 311.5px;
    padding: 20px;
}

.searchBtnWrap {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.search-btn {
    padding: 10px;
    margin: 10px;
    border: solid transparent 1px;
    background-color: #EFEFEF;
    color: #5A5959;
    font-weight: bold;
}

.search-btn:hover {
    border: solid #A5A1A1 1px;
    color:black;
}

.sign-in-btn {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
	padding: 10px 14px 10px 14px;
	background-color: #198cff;
	color: #fff;
	border: none;
	font-size: 13px;
	text-shadow: 1px;
	text-decoration: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #5A5959;
}

img[src="Images/google-apps.png"] {
    width:20px;
    height: 20px;
}

.nav-a {
    border: solid transparent 1px;
}

.nav-a:hover {
    border-bottom-color: black;
    color: rgb(90, 90, 90);
}

footer {
    width: 100%;
    background-color: #EFEFEF;
    position: fixed;
    bottom: 0;
    color: #5A5959;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-top: solid rgb(221, 221, 221) 1px;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

.footer-ul {
    width:100%;
    list-style-type: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.left {
    float: left;
}

.right {
    float: right;
    margin-right: 10px;
}

footer a {
    text-decoration: none;
    color: #5A5959;
    border: solid transparent 1px;
}

footer a:hover {
    border-bottom-color: black;
    color: rgb(90, 90, 90);
}

footer a:active {
    color: red;
}